.right-section{
    display: flex;
    flex-direction: column;
    height: 29.7cm;
       background-color: white;
    
    /* gap: 20px; */
    /* background-color: red; */
}
.personal-info{
    display: flex;
    background-color: #0e374e;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding-block: 24px;
    padding-inline: 36px;
    color: white;
    font-size: inherit;
}
.personal-info h1{
    font-size: 32px;
    font-weight: bolder;
}
.personal-detail{
    display: flex;
   margin-inline: 100px;
   flex-wrap: wrap;
   gap: 15px;
    justify-content:center;

}
.edu-exp{
    /* background-color: white; */
    margin-inline :50px;
    padding-top: 40px;
}
.header{
    text-align: center;
    padding: 6px;
    background-color: #f3f4f6;;
}
.display-info{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 24px;
    /* flex-direction: column; */
}
.L-side,.R-side{
    flex: 1 1 0;
    min-width: 0;
}